# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.egg-info/
.installed.cfg
*.egg

.tox
.coverage

iverilog_dump.v

sim_build_*
results.xml
.cocotb-results
*.fst
*.vcd
test-*.xml
